<div class="container">
<div class="messages">
<div class="header">
  <div class="avatar">
    <ion-avatar class="avatar1" >
      <img alt="follower.username"  src="assets/img/oussema.jpg" />
    </ion-avatar>
    <ng-template #defaultImage>
      <img src="assets/img/userP.png" class="header-img" />
    </ng-template>


  </div>
  <div class="name">

    <p class="p-name">Mhatli Oussema</p>
  </div>
  <div class="end">
    <ion-icon name="information-circle-outline" size="large" class="inf"></ion-icon>

  </div>
</div>




<div class="body">

</div>
<div class="footer">
<div class="input-cnt">
<input type="text" class="input" placeholder="Message" />
</div>
<div class="btn-cnt">
<button class="btn">save</button>
</div>


</div>


</div>
</div>
