/* src/app/app.component.scss */

.iphone-13-14-12 {
  background-color: #00CDE1;
  width: 100%;
  height: 100vh; /* Use 100vh to cover the entire viewport height */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; /* Center content vertically */
}

.a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center content horizontally */
}

.frame {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-right: 19vh;
}

.animated-img {
  width: 20vh;
  height: 20vh;
  margin-top: 20vh;
}

.image-1-icon2 {
  width: 50vh;
  height: 50vh;
}
