

<ion-card *ngIf="post.postImageUrls[0]?.url.length>0">
  <div class="postImg">
    <div class="heading">
      <ion-avatar slot="start" class="avatar" (click)="goProfile()">
        <img *ngIf="post.userProfilePhoto[0]?.url; else defaultImage" [src]="post.userProfilePhoto[0]?.url" />
        <ng-template #defaultImage>
          <img src="assets/img/userP.png" />
        </ng-template>
        </ion-avatar>

        <div class="icon-container" *ngIf="post.username == username" (click)="notifications($event)" >
          <ion-icon name="ellipsis-horizontal-outline" color="white" ></ion-icon>

        </div>
        <div class="icon-container" *ngIf="post.username != username" (click)="follow(post.userId,post.username)" >
          <ion-icon name="person-remove-outline" color="white" *ngIf="isFollowing(post.username)"></ion-icon>
          <ion-icon name="person-add-outline" color="white" *ngIf="!isFollowing(post.username)"></ion-icon>

        </div>

    </div>

    <img alt="Silhouette of mountains" [src]="post.postImageUrls[0]?.url" id="image-post" (click)="openImageModal(post.postImageUrls[0]?.url)"/>
    <div class="post-footer">
      <div>
        <ion-icon [name]="liked ? 'heart' : 'heart'" size="large" [style.color]="liked ? 'red' : '#00CDE1'" (click)="like()"></ion-icon>
        <div  class="number-icon">{{ likeslength }}</div>
      </div>
  <div   (click)="openComentsModal()">
    <ion-icon name="chatbox-ellipses" size="large"></ion-icon>
    <div class="number-icon">{{ post.commentCount }} </div>
  </div>

    </div>
  </div>
<div class="time"> <ion-icon name="time"></ion-icon>
  <div>{{ formatTimeDifference(post.createdAt) }}</div></div>

  <ion-card-content *ngIf="paragraph.length > 0">

    {{ getDisplayedParagraph() }}
    <a *ngIf="paragraph.length > 60" (click)="toggleParagraph()" class="toggle-link">{{ getToggleLabel() }}</a>
  </ion-card-content>
</ion-card>

<!----->
<ion-card *ngIf="post.postImageUrls[0]?.url.length <= 0">
  <div class="heading1">
    <ion-avatar slot="start" class="avatar" (click)="goProfile()">
      <img *ngIf="post.userProfilePhoto[0]?.url; else defaultImage" [src]="post.userProfilePhoto[0]?.url" />
      <ng-template #defaultImage>
        <img src="assets/img/userP.png" />
      </ng-template>
      </ion-avatar>

      <div class="icon-container" *ngIf="post.username == username" (click)="notifications($event)"  >
        <ion-icon name="ellipsis-horizontal-outline" color="white" ></ion-icon>

      </div>
      <div class="icon-container" *ngIf="post.username != username"  (click)="follow(post.userId,post.username)">
        <ion-icon name="person-remove-outline" color="white" *ngIf="isFollowing(post.username)"></ion-icon>
        <ion-icon name="person-add-outline" color="white" *ngIf="!isFollowing(post.username)"></ion-icon>

      </div>

  </div>

    <ion-card-content *ngIf="paragraph.length > 0">

      <div class="text">{{ getDisplayedParagraph() }}</div>
      <a *ngIf="paragraph.length > 70" (click)="toggleParagraph()" class="toggle-link">{{ getToggleLabel() }}</a>
    </ion-card-content>
    <div class="time1"> <ion-icon name="time"></ion-icon>
      <div>{{ formatTimeDifference(post.createdAt) }}</div>
    </div>
    <div class="post-footer1">
      <div>
        <ion-icon [name]="liked ? 'heart' : 'heart'" size="large" [style.color]="liked ? 'red' : '#00CDE1'" (click)="like()"></ion-icon>
        <div  class="number-icon">{{ likeslength }}</div>
      </div>
  <div (click)="openComentsModal()">
    <ion-icon name="chatbox-ellipses" size="large"></ion-icon>
    <div class="number-icon">{{ post.commentCount }} </div>
  </div>

    </div>
</ion-card>
