<div class="freinds-div-container">
  <div class="freinds-div">
      <ion-grid>
        <ion-row class="horizontal-scroll">

          <ion-col class="ami" >
            <div *ngFor="let item of ami">
              <ion-avatar class="avatar" >
                <img alt="Silhouette of a person's head" src="assets/img/userP.png" />
              </ion-avatar>
            </div>



          </ion-col>
        </ion-row>
      </ion-grid>

  </div>
</div>
<div class="cnv-div-container">
  <div class="cnv-div">
</div>
</div>
