.freinds-div{
  width: 98%;
  height: 14vh;
  border-radius: 6vh;
  margin-top: 6vh;
  box-shadow: 0 2vh 7vh rgba(0, 0, 0, 0.1), 0 0vh 1vh rgba(0, 0, 0, 0.1);

}
.freinds-div-container
{
  display:flex;
  justify-content: center;
  width: 100%;
}
.horizontal-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
.ion-avatar
{
  width: 20vh;
  height: 20vh;
}
.ami{
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin-top: 1.5vh;
}
.avatar
{
     width: 9vh;height: 9vh;border: 3px solid #00CDE1;
}
.cnv-div{
  width: 98%;
  height: 14vh;
  border-radius: 6vh;
  margin-top: 1vh;
  box-shadow: 0 1vh 3vh rgba(0, 0, 0, 0.1), 0 0vh 1vh rgba(0, 0, 0, 0.1);


}
.cnv-div-container
{

  width: 100%;
}

.spinner
{
  display: flex;
  justify-content: center;
}
