
.app-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  height: 100vh;
  background-color: white; /* Set a background color if needed */
  z-index: 1000; /* Set a z-index value to position the container above other elements */
}

ion-content {
  height: 100% !important;
 
}

