.img-avatar{
  width: 7vh;
  height: 7vh;
  border-radius: 4vh;
}
.content{
  border-radius: 3vh;
  background-color: #D9F7FA;
}
.content-right{
  border-radius: 3vh;
  background-color:  #fbfbfb;;
}
.times
{
  display: flex;
  justify-content: center;
  align-items: start;
}
