
<ion-content class="ion-padding content">
  <ion-grid style="height: 100%;">
    <ion-row style="height: 100%;" class="mt-2">
      <ion-col class="col mt-5">
        <ion-card class="card">
          <h1 class="ion-text-center mt-3" style="color:#00D5FA">Dream Career</h1>
          <ion-card-content>
            <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
              <ion-item>
                <ion-label position="floating"><span style="color:#999">Username</span></ion-label>
                <ion-input type="email" formControlName="username" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating"><span style="color:#999">Password</span></ion-label>
                <ion-input type="password" formControlName="password" required #passwordInput></ion-input>

              </ion-item>
              <div *ngIf="submitted && loginForm.controls['password'].errors" class="error">Password is invalid. It must have at least 1 uppercase letter, 1 number, and be at least 6 characters long.</div>

              <ion-button expand="full" type="submit" color="primary" style="--ion-color-primary: #00D5FA;" class="mt-5">
                <ion-spinner *ngIf="loading"></ion-spinner>
                <span *ngIf="!loading">Login</span>
              </ion-button>

              <p class="link-info mt-3" (click)="register()" >
                <a>Don't have an account? Sign Up here.</a>
              </p>
            </form>


          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
 