<h1 class="title">LeaderBoard</h1>
<div class="clubimg">
  <img src="assets/img/crown.png" class="crow" />
</div>
<div class="club-ctn">
  <div class="club">
    <div class="club2">
      <div class="img2">
        <div >
          <ion-avatar slot="start" class="avatar2">
            <img src="assets/img/oussema.jpg" />
          </ion-avatar>
        </div>
        <div class="icon">
          <div class="number2">
            <p style="margin-top: 2vh">2</p>
          </div>
        </div>
      </div>
      <div class="title2">
        <p class="club-name">google</p>
      </div>
    </div>
    <div class="club1">
      <div class="img2">
        <div >
          <ion-avatar slot="start" class="avatar1">
            <img src="assets/img/oussema.jpg" />
          </ion-avatar>
        </div>
        <div class="icon">
          <div class="number1">
            <p style="margin-top: 2vh">1</p>
          </div>
        </div>
      </div>
      <div class="title2">
        <p class="club-name">Google</p>
      </div>
    </div>
    <div class="club3">
      <div class="img2">
        <div >
          <ion-avatar slot="start" class="avatar3">
            <img src="assets/img/oussema.jpg" />
          </ion-avatar>
        </div>
        <div class="icon">
          <div class="number3">
            <p style="margin-top: 2vh">3</p>
          </div>
        </div>
      </div>
      <div class="title2">
        <p class="club-name">Tunivison</p>
      </div>
    </div>
  </div>
</div>
<ion-content class="scroll">
  <div class="item-ctn-container">
    <div class="item-ctn">
      <div class="item1">
        <div class="item-contentstart">
          <h3>1</h3>
        </div>
        <div class="item-contentcenter">
          <div class="centerContent">
            <ion-avatar slot="start" class="item-avatar">
              <img src="assets/img/oussema.jpg" />
            </ion-avatar>
            <h4>Tunivision</h4>
          </div>
        </div>
        <div class="item-contentend">
          <p class="points"> 36 points</p>
        </div>
      </div>
      <div class="item2">
        <div class="item-contentstart">
          <h3>2</h3>
        </div>
        <div class="item-contentcenter">
          <div class="centerContent">
            <ion-avatar slot="start" class="item-avatar">
              <img src="assets/img/oussema.jpg" />
            </ion-avatar>
            <h4>google</h4>
          </div>
        </div>
        <div class="item-contentend">
          <p class="points"> 22 points</p>
        </div>
      </div>
      <div class="item3">
        <div class="item-contentstart">
          <h3>3</h3>
        </div>
        <div class="item-contentcenter">
          <div class="centerContent">
            <ion-avatar slot="start" class="item-avatar">
              <img src="assets/img/oussema.jpg" />
            </ion-avatar>
            <h4>google</h4>
          </div>
        </div>
        <div class="item-contentend">
          <p class="points"> 86 points</p>
        </div>
      </div>
      <div class="item">
        <div class="item-contentstart">
          <h3 style="color: black;">4</h3>
        </div>
        <div class="item-contentcenter">
          <div class="centerContent">
            <ion-avatar slot="start" class="item-avatar">
              <img src="assets/img/oussema.jpg" />
            </ion-avatar>
            <h4 style="color: black;">Microsoft</h4>
          </div>
        </div>
        <div class="item-contentend">
          <p class="points" style="color: black;"> 86 points</p>
        </div>
      </div>
      <div class="item">
        <div class="item-contentstart">
          <h3 style="color: black;">4</h3>
        </div>
        <div class="item-contentcenter">
          <div class="centerContent">
            <ion-avatar slot="start" class="item-avatar">
              <img src="assets/img/oussema.jpg" />
            </ion-avatar>
            <h4 style="color: black;">Microsoft</h4>
          </div>
        </div>
        <div class="item-contentend">
          <p class="points" style="color: black;"> 86 points</p>
        </div>
      </div>
      <div class="item">
        <div class="item-contentstart">
          <h3 style="color: black;">4</h3>
        </div>
        <div class="item-contentcenter">
          <div class="centerContent">
            <ion-avatar slot="start" class="item-avatar">
              <img src="assets/img/oussema.jpg" />
            </ion-avatar>
            <h4 style="color: black;">Microsoft</h4>
          </div>
        </div>
        <div class="item-contentend">
          <p class="points" style="color: black;"> 86 points</p>
        </div>
      </div>
      <div class="item">
        <div class="item-contentstart">
          <h3 style="color: black;">4</h3>
        </div>
        <div class="item-contentcenter">
          <div class="centerContent">
            <ion-avatar slot="start" class="item-avatar">
              <img src="assets/img/oussema.jpg" />
            </ion-avatar>
            <h4 style="color: black;">Microsoft</h4>
          </div>
        </div>
        <div class="item-contentend">
          <p class="points" style="color: black;"> 86 points</p>
        </div>
      </div>
      <div class="item">
        <div class="item-contentstart">
          <h3 style="color: black;">4</h3>
        </div>
        <div class="item-contentcenter">
          <div class="centerContent">
            <ion-avatar slot="start" class="item-avatar">
              <img src="assets/img/oussema.jpg" />
            </ion-avatar>
            <h4 style="color: black;">google</h4>
          </div>
        </div>
        <div class="item-contentend">
          <p class="points" style="color: black;"> 86 points</p>
        </div>
      </div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>

    </div>
  </div>



</ion-content>
