
/* account-menu.component.scss */
ion-menu {
  --width: 300px; /* Set the width of the menu */
}

ion-avatar img {
  max-width: 100%;
}

ion-list ion-item {
  font-size: 16px;
}

ion-list ion-item ion-label {
  margin-left: 16px;
}

ion-item ion-icon {
  font-size: 24px;
  margin-left: 8px;
}

ion-item.lines-none {
  border-top: 0px solid #ccc;
  border-bottom: 0px solid #ccc;
  --highlight-height: 0;

}
/* styles.scss (or your component's styles) */

.my-custom-modal  {
  --height: 750px !important;

}

